.List{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-block-start: 120px;
}


.List li{
    width: 100%;
    background: var(--c-medium) !important;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 20px;
    margin-block-end: 20px;
    border-radius: 20px;
}



.flex-grow{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.flex-grow button{
    border: 1px solid var(--c-dark);
    padding: 10px;
    border-radius: 10px;
    color: var(--c-dark);
    background: var(--medium);

}
.flex-grow button:hover{
    cursor: pointer;
    background: var(--c-primary);

}



.done{
    width: 30px;
    height: 30px;
    accent-color: var(--c-secondary);

}


